---
import { getTechsById } from "../data/techs";
import TechsActions from "./TechsActions.astro";

interface IProject {
	title: string;
	description: string;
	image: string;
	techs: string[];
	url?: string;
}

const projects: IProject[] = [
	{
		title: "Control de usuarios",
		description:
			"Frontend para la gestión de usuarios, roles, permisos, módulos y autenticación mediante JWT y tokens de actualización.",
		image: "./src/assets/users_front.webp",
		techs: ["vue", "ts", "sass", "vite"],
		url: "https://github.com/kevinramos0/vue3-ts-primevue",
	},
	{
		title: "Api RestFull Control de Usuarios",
		description:
			"API for management of users, roles, permissions, modules, and authentication using JWT and refresh tokens.",
		image: "./src/assets/api_users_express.webp",
		techs: [
			"nodejs",
			"express",
			"sequelize",
			"postgresql",
			"docker",
			"swagger",
		],
		url: "https://github.com/kevinramos0/users_management_nodejs",
	},
	{
		title: "Api Setup",
		description:
			"API de arquitectura modular que proporciona una configuración básica para iniciar nuevos proyectos. Esta configuración incluye módulos de usuarios y roles, autenticación con estrategia JWT, envío de correo electrónico, almacenamiento en AWS o almacenamiento local, conexión a bases de datos y un módulo de registros para almacenar errores en un clúster de MongoDB.",
		image: "./src/assets/api_nestjs.webp",
		techs: ["ts", "nest", "docker", "postgresql", "mongodb", "aws", "swagger"],
		url: "",
	},
	{
		title: "Veterinary",
		description:
			"Aplicación web con arquitectura MVC para la gestión de mascotas, propietarios y agenda de consultas. Esta aplicación incluye un sistema de autenticación y autorización, así como un sistema de gestión de roles y permisos.",
		image: "./src/assets/api_users_express.webp",
		techs: ["net", "sqlserver", "blazor"],
		url: "https://github.com/kevinramos0/Veterinaty.net",
	},
	// {
	//     title: "Api RestFull Users Management",
	//     description:
	//         "",
	//     image: "/src/assets/background.svg",
	//     techs: [
	//         "nodejs",
	//         "express",
	//         "sequelize",
	//         "postgresql",
	//         "docker",
	//         "swagger",
	//     ],
	//     url: "",
	// },
];
---
<div class="flex flex-col justify-center">
    <h2 class="text-4xl font-semibold tracking-tight text-pretty text-darkText sm:text-4xl opacity-80 text-center">Personal
        Projects</h2>
    <div class="px-5 py-6 flex flex-col sm:flex-row gap-8 flex-wrap justify-center lg:justify-between">
        {
            projects.map((project: IProject) => {
                const techs = getTechsById(project.techs);

                return (
                        <div class="mt-3 max-w-md sm:max-w-xs lg:max-w-md xl:max-w-lg rounded-lg shadow-sm border-2 border-background flex flex-col justify-center hover:shadow-lg hover:scale-105 transition-all duration-300 ease-in-out cursor-pointer overflow-hidden"
                        >
                            <div class="relative group top-0">
                                <img class="h-55 object-cover w-full" src={project.image} alt=""/>
                                <!-- Botón que aparece al hacer hover sobre la imagen -->
                                <a href={project.url} target="_blank"
                                   rel="noopener noreferrer"
                                   class="absolute inset-0 flex items-center justify-center bg-black/60 text-white text-sm font-semibold rounded-t-lg
                                        opacity-100 md:opacity-0 md:group-hover:opacity-100 transition-opacity duration-300 ease-in-out"
                                >
                                    Show more
                                </a>
                            </div>

                            <!-- Contenido del proyecto -->
                            <div class="p-5 bg-background/40 h-full flex flex-col justify-end">
                                <a href={project.url} target="_blank" rel="noopener noreferrer">
                                    <h5 class="mb-2 text-xl font-medium tracking-tight text-darkText text-pretty opacity-80">
                                        {project.title}
                                    </h5>
                                </a>
                                <label class="mb-3 font-normal text-gray-700">
                                    {project.description}
                                </label>
                                <div>
                                    <TechsActions techs={techs}/>
                                </div>
                            </div>
                        </div>
                )
            })
        }

    </div>
</div>